@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$main-font: 'Lato',
sans-serif;
$main-color: #C00018;
$breakpoint-mobile: 576px;
$breakpoint-tablets: 768px;

//OPEN STYLES FIRST SECTION CAROUSEL
section#apresentation-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0 0px;

    div.background-image {
        position: absolute;
        background-size: cover;
        width: 100%;
        height: 80%;
        z-index: 0;
    }

    div.carousel-container {
        position: absolute;
        width: 88%;
        height: 100%;
        $qnt: 3;

        div.carousel-item {
            display: flex;
            justify-content: center;
            align-items: center;

            div.container-text-carousel {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                div.absItem {
                    display: none !important;
                }

                p,
                h1,
                h3 {
                    color: white;
                    font-family: $main-font;
                    text-shadow: 0 0 10px black;
                }

                h1 {
                    font-size: 15vw;
                    font-weight: 900;
                }

                h3 {
                    font-size: 25px;
                    font-weight: 200;
                }

                p {
                    max-width: 250px;

                }

                div.buttons {
                    display: flex;
                    margin-top: 24px;

                    a {

                        button.btnGender {
                            cursor: pointer;
                            border: 1px solid white;
                            padding: 10px 20px;
                            background: transparent;
                            box-shadow: 0 0 10px rgba(65, 65, 65, 0.329);
                            transition: 0.3s linear;
                            color: white;
                            font-family: $main-font;
                        }

                        &:hover {
                            button.btnGender {
                                color: #444;
                                background: rgba(204, 204, 204, 0.623);
                            }


                        }
                    }

                    a:last-child {

                        margin-left: 24px;
                    }
                }
            }
        }

        div.carousel-item.mulherModelo {
            background-position-x: -110px;
        }

        @for $i from 1 through $qnt {
            div.carousel-item[data-position="#{$i}"] {
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                z-index: ($qnt + 1) - $i;
            }
        }

        div.controls {
            position: absolute;
            z-index: 800;
            bottom: 30px;
            right: 30px;
        }

        .controls button {
            width: 50px;
            height: 50px;
            background: transparent;
            box-shadow: 0 0 10px rgba(65, 65, 65, 0.329);
            border: 1px solid white;
            transition: 0.3s linear;

            &:hover {
                background: rgba(255, 255, 255, 0.65);
                cursor: pointer;
            }
        }

        .controls button:first-child {
            margin-right: 10px;
        }
    }
}

@media only screen and (min-width: $breakpoint-tablets) {
    section#apresentation-carousel {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin: 0 40px;

        div.carousel-container {
            position: absolute;
            width: 88%;
            height: 100%;
            opacity: 1;
            $qnt: 10;

            div.carousel-item {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 100px;

                div.container-text-carousel {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div.absItem {
                        display: flex !important;
                        position: absolute;
                        top: 5px;
                        left: 320px;
                        align-items: center;

                        div.line {
                            background: white;
                            width: 145px;
                            height: 1px;
                        }

                        span {
                            margin-left: 10px;
                            color: white;
                            font-family: $main-font;
                        }
                    }

                    p,
                    h1,
                    h3 {
                        color: white;
                        font-family: $main-font;
                        text-shadow: 0 0 10px black;
                    }

                    h1 {
                        font-size: 85px;
                        font-weight: 900;
                    }

                    h3 {
                        font-size: 25px;
                        font-weight: 200;
                    }

                    p {
                        max-width: 250px;

                    }

                    div.buttons {
                        a {
                            button.btnGender {
                                padding: 10px 40px;
                                background:transparent;
                            }
                        }
                    }
                }
            }

            @for $i from 1 through $qnt {
                div.carousel-item[data-position="#{$i}"] {
                    position: absolute;
                    background-size: cover;
                    background-position-x: center;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100%;

                    @if $i !=1 {
                        opacity: 0;
                    }

                    z-index: ($qnt + 1) - $i;
                }
            }
        }
    }
}

.fade-in {
    animation: fadeIn 0.5s linear;
}

.fade-out {
    animation: fadeOut 0.5s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

//Close Carousel